.container{
  padding: 1rem;
  width: 100%;
  background:white;
  border-bottom: 1px solid rgb(227, 223, 223);
  position: fixed;
  z-index: 1000;
}

.navBar{
  display: flex;
  justify-content: space-between;
  
}

.navBarOptionalContainer{
  display: flex;
  align-items: center;
}

.buttonJoin{
  width: fit-content;
  cursor: pointer;
  background:#cD8987;
  color: white;
  padding-inline:1.2rem ;
  padding-block: 0.6rem;
  border-radius: 10px;
}