/* .userCard {
  display: flex;
  width: 100%;
  gap: 1.2rem;
  padding: 1.3rem;
  align-items: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
} */

.myNetworkContainer {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  padding: 1.2rem;
  width: 100%;
  margin: 0.01 1rem 0 1rem; /* top, right, bottom, left */
  display: flex;
  flex-direction:column ;
  gap: 0.2rem;
  height: fit-content;
}

.myNetworkContainer:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.myConnectionsContainer {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  padding: 1.2rem;
  width: 100%;
  margin: 0.01 1rem 0 1rem; /* top, right, bottom, left */
  display: flex;
  flex-direction:column ;
  gap: 0.2rem;
  height: fit-content;
}

.myConnectionsContainer:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.profilePicture {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
}

.acceptBtn {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
