.container {
  
}

.homeContainer {
  padding-top: 110px;
  /* background-color: rgb(250, 250, 249); */
  display: flex;
}

.homeContainer > div:nth-child(odd) {
  flex: 0.2;
}

.homeContainer > div:nth-child(even) {
  flex: 0.6;
}

.homeContainer_leftBar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: start;
}

.sideBarOption {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1.3rem;
 
  margin: 0 1rem 0 1rem; /* top, right, bottom, left */;
  cursor: pointer;
  transition: all 0.2s;
}
.sideBarOption{
 background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  padding: 1.2rem;
  width: 95%;
  margin:0.01 1rem 0 1rem; /* top, right, bottom, left */
  display: flex;
  gap: 0.2rem;
  height: fit-content;
}

.sideBarOption:hover {
  transform: scale(1.04);
}

.sideBarOption > svg {
  height: 1.4em;
  min-width: fit-content;
}

.homeContainer_extraContainer {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  padding: 1rem;
  width: 100%;
  margin:0.01 1rem 0 1rem; /* top, right, bottom, left */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
}

/* Corrected hover effect */
.homeContainer_extraContainer:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.extraContainer_profile{
  font-weight: 700;
}



/* .homeContainer_extraContainer {
  padding-inline: 0.8rem;  
} */

.homeContainer_feedContainer {
  padding-inline: 0.8rem;
  padding-bottom: 6vh;
}

/* mobile navbar */
.mobileNavbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 6vh;
  position: fixed;
  display: none;
  justify-content: space-around;
  background: white;
  align-items: center;
}

.mobileNavbar svg {
  height: 2rem;
  width: 2rem;
}

.singleNavbarHolder_mobileView {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .homeContainer_extraContainer {
    display: none;
  }

  .homeContainer {
    display: block;
  }
  .homeContainer_leftBar {
    display: none;
  }

  .mobileNavbar {
    display: flex;
  }
}
